body {
  margin: 0;
  text-align: center;
  font-family: 'Benne', serif;
}

h1 {
  font-size: 7rem;
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Benne', serif;
  font-size: 3rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-size: 1.6rem;
  color: #11999E;
}


a:hover {
  color: #EAF6F6;
}

p {
  font-size: 1.3rem;
}

hr {
  margin: 200px auto 100px auto;

}

.nav-item {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1rem;
}

.nav-bar-name {
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.top-container {
  background-color: #BBE1FA;
  position: relative;
  padding-top: 200px;
  padding-bottom: 300px;
}


.bottom-container {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #BBE1FA;
}

.contact-me {
  margin: 100px auto 100px auto;
}


.profile {
  margin: 100px auto 100px auto;
}

.skill-row {
  margin-top: 100px;
}

.skill-pic {
  width: 35%;
}

.pfp {
  width: 15%;
  margin-bottom: 50px;
}

.carousel-indicators {
  padding-bottom: 50px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 10px 30px 100px 30px;
  text-decoration: none;
}

.copyright {
  font-family: Arial;
  font-size: 0.75rem;
  padding-top: 50px;
}

.copyright2 {
  font-family: Arial;
  font-size: 0.75rem;
  text-decoration: none;
}

.button2 {
  margin-top: 20px;
  font-family: Arial;
  background-color: #39A2DB;
  border: none;
}

.button2:hover {
  background-color: #053742;
}
